div {
	display: block;
}

p {
	margin: 0;
}

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.625;
}



.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

#application-form {
	width: 550px;
}

#application-form .multi {
	display: inline-block;
}

#application-form label {
	margin: 10px 0 0 0;
	float: none;
	font-size: 14px;
	font-weight: bold;
	display: block;
}

#application-form label span {
	color: #AAA;
	margin-left: 4px;
	font-weight: normal;
}

#application-form label span.required {
	color: red;
}

#application-form textarea {
	width: 540px;
	height: 100px;
}

#application-form input[type="submit"], button {
	font-size: 14px;
}

#application-form label.error, .error {
	color: red;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 0;
	font-style: italic;
}

input, textarea {
	background: #FAFAFA;
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.1);
	border: 1px solid #DDD;
	color: #888;
	display: inline-block;
}

input[type=submit], button {
	color: #444;
	padding: 5px 15px;
	margin: 10px 0 0 2px;
	background: #CCC;
	border: 0 none;
	cursor: pointer;
	-webkit-appearance: none;
}

.text-content{
	margin-left:auto;
	margin-right:auto;
	width:70%;
	text-align: center;
}

@media only screen and (max-width: 640px) {
	body {
		width: 95%;
	}
	body, input, textarea {
		line-height: 2;
	}

	#application-form {
		width: auto;
		margin: 0 2px;
	}

	#application-form .multi {
		display: block;
	}

	#application-form input,
	#application-form textarea {
		width: 100%;
	}

	#application-form input[type="submit"], button {
		background-color: #99CCFF;
		height: 50px;
	}
}