<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Volunteer</title>
    <link href="/static/css/application.css" type="text/css" rel="stylesheet" >
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
    <script type="text/javascript" src="/static/jquery.searchContent.js"></script>
    <script type="text/javascript" src="/static/vendor/additional-methods.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/vendor/jquery.validate.js"></script>
    
  </head>
  <body>
    {% block content %}
      {{ content }}
      <button>Log out</button>
    {% endblock %}
  </body>
</html>
