{% extends "base.html" %}

{% block content %}
<html>
<head>
	<title>Volunteer</title>
</head>

<body>
	<div class="text-content">
	<p>Join us to help kids build literacy skills and self-esteem through fun creative-writing projects and tutoring!</p>

	<p>Volunteer mentors provide support for the kids during after-school tutoring and writing workshops. Volunteers can also run workshops and help with program planning, events, fundraising and other administrative duties.</p>


	<a href="/signup/"><button>Sign Up Today!</button></a>
	<p>or</p>
	<a href="/login/"><button>Log In</button></a>
	<a href="/links/"><button>All Links</button></a>
        </div>
</body>
</html>

{% endblock %}
