<!DOCTYPE html>
{% load staticfiles %}
 <head>
    <title>prettyCalendar page</title>
    <link rel="stylesheet" href={% static "prettyCalendar/css/prettyCalendar.css" %} type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src={% static "prettyCalendar/js/jquery.prettyCalendar.js" %}></script>
    <script>
        $(document).ready(function () {
            $('#myId').prettyCalendar();
        });
    </script>
    </head>
    <body>
        <div id="myId" class="prettyCalendar"></div>
    </body>
</html>
