{% extends "base.html" %}

{% block content %}
<form method="post" action="">
{% csrf_token %}
{% if form.errors %}<p>Please correct the following fields:</p>{% endif %}

        {% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
        <p><label>Username:</label></p>
        <p>{{ form.username }}</p>
        {% if message %}
        	<p class="error">{{message}}</p>
        {% endif %}

        {% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
        <p><label>Password:</label></p>
        <p>{{ form.password }}</p>

        {% if form.email.errors %}<p class="error">{{ form.email.errors }}</p>{% endif %}
        <p><label>Email:</label></p>
        <p>{{ form.email }}</p>


        {% if form.firstname.errors %}<p class="error">{{ form.firstname.errors }}</p>{% endif %}
        <p><label>First Name:</label></p>
        <p>{{ form.firstname }}</p>


        {% if form.lastname.errors %}<p class="error">{{ form.lastname.errors }}</p>{% endif %}
        <p><label>Last Name:</label></p>
        <p>{{ form.lastname }}</p>



        
<p><input type="submit" alt="register" /></p>
</form>
{% endblock %}
    	