

{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
	<title>LiveSearch plugin</title>
	<link rel="stylesheet" href={% static "css/application.css" %} type="text/css">
</head>
<body>


<input type="text" id="search" class="clearfix" name="search" placeholder="Search here!" autofocus="autofocus">

<!-- 	<form method="get" action="getEmail/">
		<input type="submit" value="Email All">
	</form> -->

	<button class="email-all">Email All</button>

	<table class="applicants">
		<tr>
			<th class="tableHeader">Name</th>
			<th class="tableHeader">Email</th>
			<th class="tableHeader">Phone</th>
			<th class="tableHeader">Approval Status</th>
		</tr>
		<tbody class="live_search">
		{% for v in dataset %}
			<tr>
				<td class="row"><a href={% url 'profile' v.id %}>{{v.name}}</a></td>
				<td class="row"><span class="email"><a href={% url 'profile' v.id %}>{{v.email}}</a></spam></td>
				<td class="row"><a href={% url 'profile' v.id %}>{{v.phone}}</a></td>
				<td class="row"><a href={% url 'profile' v.id %}>{{v.isApproved}}</a></td>
			</tr>	
		{% endfor %}
		</tbody>

	</table>

<a href="/"><button>Home</button></a>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="vendor/jquery-1.9.1.min.js"><\/script>')</script>
<!-- <script src="jquery.searchContent.js" type="text/javascript"></script> -->

<script src={% static "jquery.searchContent.js" %}></script>



<script>
	$('.live_search').searchContent();
</script>

<script type="text/javascript">
	
	var n = $("tr").filter(function() { return $(this).css("display") == "none" })
	console.log(n)
</script>

</body>
</html>
