

{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
<head>
	<title>LiveSearch plugin</title>
	<link rel="stylesheet" href={% static "css/application.css" %} type="text/css">
</head>
<body>


<input type="text" id="search" class="clearfix" name="search" placeholder="Search here!" autofocus="autofocus">

	<form method="get" action="getEmail/">
		<input type="submit" value="Email All">
	</form>

	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Approval Status</th>
		</tr>
	</table>

	<div class="live_search">
		{% if dataset %}
			{% for v in dataset %}

				{% if v.isApproved == True %}
					<a href={% url 'profile' v.id %}>{{v.name}}   <span class="selected-email">{{v.email}}</span>   {{v.phone}}   <td>Yes</td></a>
				{% else %}
					<a href={% url 'profile' v.id %}>{{v.name}}   <span class="selected-email">{{v.email}}</span>   {{v.phone}}   <td>No</td></a>
				{% endif %}

			<br/>
			{% endfor %}
		{% endif %}

	

	</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="vendor/jquery-1.9.1.min.js"><\/script>')</script>
<!-- <script src="jquery.searchContent.js" type="text/javascript"></script> -->

<script src={% static "jquery.searchContent.js" %}></script>



<script>
	$('.live_search').searchContent();
</script>

<script type="text/javascript">
	var n = $("br").filter(function() { return $(this).css("display") == "none" })
</script>

</body>
</html>