<!DOCTYPE html>
<html>
<head>
	<title>Volunteer Information</title>
</head>

<body>
	<h2>{{name}}</h2>

	<b>Contact Information</b><br>
	Email: {{email}}<br>
	Phone Number: {{phoneNum}}<br>
	Home Address: {{address}}<br>

	<br>

	<b>Program Information</b><br>
	Total hours: {{hours}}<br>	
	Availability: {{availTable}}<br>
	Involved in: {{volProgramTable}}<br>
	
	<br>

	<b>Application Information</b><br>
	Reference #1: {{refName1}}<br>
	Phone Number: {{refPhone1}}<br>
	<br>
	Reference #2: {{refName2}}<br>
	Phone Number: {{refPhone2}}<br>
	<br>
	Self Introduction: {{selfIntro}}

	<br><br>
	Return to <a href="../applications/">Applications</a>

	<br><br>
	<a href="">Modify</a>
</body>
</html>
